:root {
    --font-heading-light: #43afaf;
    --font-heading-dark: #11999E;
    --background-dark: #66BFBF;
    --background-light: #E4F9F5;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}



/* header styles */

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

/* Nav Bar */
.nav-links-container {
    display: flex;
    background-color: var(--background-light);
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

.nav-link {
    margin: 1.6rem;
}

.nav-link a {
    color: var(--font-heading-dark);
    text-decoration: none;
    font-size: 2rem;
}


.nav-link:hover {
    color: var(--background-dark);
}

.banner {
    margin-top: 6.8rem;
}

/* Profile Image */
.profile-image {
    width: 100%;
    object-fit: contain;
}

/* Main Section */


.section-heading {
    font-size: 4rem;
    color: var(--font-heading-light);
    font-weight: normal;
    padding-bottom: 1rem;
    text-align: center;
}

/* Projects */


.projects {
    background-color: #fff;
    padding: 1rem;
}

.projects-container {
    display: flex;
    flex-direction: row;
}

.featured-project {
    text-align: center;
}

.featured-image {
    width: 80%;
}

.project-card {
    padding-left: 2rem;
    text-align: center;
}

.project-image {
    width: 80%;
}

.featured-image:hover, .project-image:hover {
    transform: scale(1.01);
}

.subtitle {
    color: var(--font-heading-dark);
    font-size: 1.6rem;
}


/* Experience */

.experience-card {
    width: 75%;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.experience-image {
    width: 10%;
    border-radius: 50%;
}

.experience-content {
    margin: auto;
}

.experience-content p {
    font-size: 1.3rem;
}

.experience-image-container {
    margin: auto;
}

.experience-headings {
    padding: 0%;
}

.experience-heading {
    margin: 0.5rem;
    font-size: 1.6rem;
}

.company-name {
    font-size: 2.5rem;
    margin: 0.5rem;
}

/* About Me */
.about-me-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
}

.about-me-content {
    padding: 2rem;
}

.about-me-content h3 {
    font-size: 1.6rem;
}

.about-me-content p, .about-me-content ul {
    font-size: 1.3rem;
}

/* Contact Section */
.contact-icons {
    font-size: 3rem;
    padding-top: 2rem;
}

.contact-item {
    padding: 1rem;
}

.icon-link {
    text-decoration: none;
    color: #000;
}

.contact-item:hover {
    color: #414141;
}

/* Footer Section */

footer {
    background-color: var(--background-dark);
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
}

.footer-list {
    list-style: none;
    margin-bottom: auto;
}

.footer-list-item {
    padding-top: 0.5rem;
}

.footer-link {
    width: 100%;
    color: #000;
    text-decoration: none;
    font-size: 2rem;
}

.footer-link:hover {
    color: #414141;
}


/* mobile viewport styles */
@media screen and (max-width: 576px) {
    .header {
        position: static;
    }

    .banner {
        margin-top: 0;
    }

    .nav-container {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-links-container {
      flex-direction: column;
      align-items: center;
    }

    .projects-container {
        flex-direction: column;
    }

    .experience-image {
        width: 40%;
    }

    .about-me-image {
        width: 100%;
    }

    .about-me-container {
        flex-direction: column;
    }
  }
  