
body {
    margin: 0;
    font-family: "Dancing Script", cursive;
    font-family: "Josefin Sans", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    font-family: "Smokum", cursive;
    font-family: "Source Sans Pro", sans-serif;
}



/* Nav Bar */
.nav-container {
    display: flex;
    background-color: #023047;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.nav-link {
    padding: 15px;
    color: #C7EDFF;
    text-decoration: none;
    font-size: 20px;
}


.nav-link:hover {
    color: #16b5ff;
}

/* Profile Image */
.profile-image {
    width: 100%;
    object-fit: contain;
}

/* Main Section */


.section-heading {
    text-align: center;
}

/* Projects */
.projects-container {
    display: flex;
    flex-direction: row;
}

.featured-project {
    text-align: center;
}

.featured-image {
    width: 80%;
}

.project-card {
    padding-left: 20px;
    text-align: center;
}

.project-image {
    width: 80%;
}

/* About Me */
.about-me-content {
    display: flex;
    flex-direction: row;
}

.featured-image:hover {
    transform: scale(1.01);
}

.project-image:hover {
    transform: scale(1.01);
}

/* mobile viewport styles */
@media screen and (max-width: 576px) {
    .nav-container {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-link-container {
      flex-direction: column;
      align-items: center;
    }

    .projects-container {
        flex-direction: column;
    }
  }
  